.UserRow{
    display: flex;
    background-color: white;
    color: #6b6b6b;

    &:hover{
        font-weight: bold;
    }
    
    &.dark{
        color: white;
        background-color: #313131;
    }

    .col{
        flex: 1;  
    }
}