.editUser{
    width: 50%;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    box-shadow: 0px 0px 33px 6px rgb(231, 231, 231);
    padding-bottom: 30px;

    &.dark{
        background-color: #313131;
        box-shadow: 0px 0px 33px 6px rgb(36, 36, 36);

        .edit-title{
            color: #d2d2d2;
        }

        .MuiInput-underline:before{
        border-bottom: 0.5px solid grey;
        }

        .MuiTextField-root{
            color: #d2d2d2;
        }
    }

    .edit-inputs{
        width: 40% !important;
    }
}

@media all and(max-width:768px){
    .editUser{
        .edit-inputs{
            width: 60% !important;
        }
    }
}


@media all and(max-width:375px){
    .editUser{
        width: 70%;
        .edit-inputs{
            width: 70% !important;
        }
    }
}